@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
	@apply bg-background font-sans text-neutral-300;
}

@theme {
	--font-sans: 'Geist', 'sans-serif';
	--color-background: oklch(0.1684 0 0);
	--ease-fluid: cubic-bezier(0.3, 0, 0, 1);
	--ease-snappy: cubic-bezier(0.2, 0, 0, 1);
	--color-primary: oklch(0.6922 0.1976 23.83);
}
